/* /////////////----------css reset-------------///////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
/* /////////////----------set background image-------------///////////////////// */
.bgimg{
    background: rgba(0, 0, 0, 0.4) url("../img/background/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-blend-mode: darken;
}
/* /////////////----------navbar-------------///////////////////// */
.navMenu{
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}
.navLeft{
    width: 15%;
    
}
.navLeft img{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 29px;
    margin-left: 15px;
}
.centerNavList{
    display: flex;
    width: 65%;
    margin: auto;
}
.centerNavList ul{
    display: flex;
    width: 45%;
    height: 60px;
    margin: auto;
    justify-content: space-around;
    align-items: center;

}
.centerNavList ul li{
    list-style: none;
}
.centerNavList ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}
.centerNavList ul li a:hover{
    color: gray;
}
.rightNav{
    width: 15%;
    height: 60px;
    margin: auto;
}
.rightNav input{
    width: 149px;
    height: 32px;
    margin-top: 14px;
    border-radius: 9px;
    text-transform: capitalize;
}
.rightNav button{
    width: 71px;
    height: 31px;
    border-radius: 8px;
    color: white;
    background: black;
    text-transform: capitalize;
    cursor: pointer;
}
/* /////////////----------body in background image-------------///////////////////// */
.bdy{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
    
}
.bdy h2 {
    color: white;
    margin-bottom: 10px;
}
.leftSide{
    width: 50%;
    margin-top: 220px;
    margin-left: 261px;
}
.textp{
    color: white;
    width: 100%;
}
.btn{
    width: 153px;
    padding: 10px;
    margin-top: 18px;
    margin-left: 10px;
    color: white;
    background: none;
    border-radius: 9px;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid white;
}
.btn:hover{
    background-color: gray;
    color: black;
    font-weight: bolder;
}
.rightSide{
    width: 15%;
    height: 100%;
    margin-top: 231px;
    margin-right: 338px;
}
.rightSide img{
    width: 109px;
    border-radius: 89px;
}
/* /////////////----------about section-------------///////////////////// */
.first{
    display: flex;
    margin-top: 45px;
}
.firstLeftSec{
    width: 75%;
    margin-right: 45px;
}

.firstLeft_h2_text{
    margin-left: 100px;
}
.firstLeft_p_text{
    margin-left: 100px;
    margin-top: 10px;
}
.firstRightSec{
    width: 15;
}
.firstRightSec img{
    width: 156px;
    border-radius: 22px;
    margin-top: -16px;
}
.second{
    display: flex;
    margin-top: 45px;
}
.secondleftSec{
    width: 15;
    margin-left: 100px;
}
.secondleftSec img{
    width: 156px;
    border-radius: 22px;
    margin-top: -16px;
}
.secondrightSec{
    width: 75%;
    margin-right: 45px;
}
.secondright_h2_text{
    margin-left: 100px;
}
.secondright_p_text{
    margin-left: 100px;
    margin-top: 10px;
}
.third{
    display: flex;
    margin-top: 45px;
}
.thirdLeftSec{
    width: 75%;
    margin-right: 45px;
}

.thirdLeft_h2_text{
    margin-left: 100px;
}
.thirdLeft_p_text{
    margin-left: 100px;
    margin-top: 10px;
}
.thirdRightSec{
    width: 15;
}
.thirdRightSec img{
    width: 156px;
    border-radius: 22px;
    margin-top: -16px;
}
/* /////////////----------contact section-------------///////////////////// */
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contactText{
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 14px;
}
.cont input{
    width: 712px;
    height: 39px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.textarea{
    border-radius: 10px;
    border: 2px solid black;
}
.textboxText{
    text-transform: capitalize;
}
#btn1{
    background: black;
    color: white;
    margin-bottom: 25px;
    width: 714px;
}
.burger{
    display: none;
    position: absolute;
    right: 5px;
    top: 15px;
    cursor: pointer;
}
.line{
    width: 33px;
    background-color: wheat;
    height: 4px;
    margin: 3px 3px;
}
@media only screen and (max-width:1140px){
    .navMenu{
        flex-direction: column;
        height: 250px;
    }
    .centerNavList ul{
        flex-direction: column;
    }
    .burger{
        display: block;
    }
}